@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.lego {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  text-shadow: black 0em 0.1em 0.2em !important;
}

.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* .colored-box {
  background-color: #262322 !important;
} */

.scrollable-table {
  max-height: 80vh;
  overflow-y: auto;
}

.aside-link:hover {
  color: #bdb17b !important;
}
