// Set your brand colors
// $purple: #8a4d76;
// $pink: #66605E;
// $brown: #757763;
// $dark-gray: #262322;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

$pink: #ac7de8;
$greyish: #eeeeee;
$nigga: #4c4c4c;
// Path to Bulma's sass folder
@use "bulma/sass" with (
    $family-primary: '"Lexend Exa", sans-serif',
    // $grey-dark: $brown,
    $grey-light: $nigga,
    $primary: $pink,
    $info: $greyish,
    // $link: $pink,
    $control-border-width: 2px,
    $input-shadow: none,
    // $modal-card-head-padding: 5rem,
    // $modal-card-head-background-color: $dark-gray,
    // $modal-content-width: 40rem,
    $modal-card-title-color: $nigga,
    // $modal-card-title-size: var(--bulma-size-5),
  );

// Import the Google Font
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
