@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.lego {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  text-shadow: black 0em 0.1em 0.2em !important;
}

html,
body {
  background-color: #4c4c4c;
}

.box {
  height: 100%;
  margin: 5px;
}

.nice:hover {
  color: #ac7de8 !important;
}

.column.is-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  background-color: #4c4c4c;
}

.is-10 {
  overflow-y: auto;
}
