.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* .colored-box {
  background-color: #262322 !important;
} */

.scrollable-table {
  max-height: 60vh;
  overflow-y: auto;
}

.aside-link:hover {
  color: #bdb17b !important;
}
