// Set your brand colors
$purple: #8a4d76;
$pink: #66605E;
$brown: #757763;
$dark-gray: #262322;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;


// Path to Bulma's sass folder
@use "bulma/sass" with ($family-primary: '"Lexend Exa", sans-serif',
    $grey-dark: $brown,
    $grey-light: $beige-light,
    $primary: $dark-gray,
    $link: $pink,
    $control-border-width: 2px,
    $input-shadow: none,
    $modal-card-head-padding: 1rem,
    $modal-card-head-background-color: $dark-gray,
    $modal-card-title-color: $beige-lighter,
    $modal-card-title-size: var(--bulma-size-5), );

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');